$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:"../bower_components/components-font-awesome/fonts/";
$text-color: #656565;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "components-font-awesome/scss/font-awesome.scss";


$border-color: #ddd;
$hover-color: #eee;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

p {
  margin: 0;
}

.panel-body {
  padding: 15px 4px 5px 4px;
}

.build-list {

  .build-item-container {
    .icon {
      display: inline-block;
      width: 60px;
      height: 60px;
    }
    .build-item {

    }

  }

}

.quarter{
  width: 18%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
  font-size: 1.1em;
  font-weight: 400;
  vertical-align: middle;
}

.table-borderless tbody tr.data:hover:not(.expanded) {
  background-color: $hover-color;
}

.table-borderless tbody tr.ok.data{
  cursor: pointer!important;
}
.table-borderless tbody tr.fail.data{
  cursor: pointer!important;
}
.table-borderless tbody tr.uncompleted.data{
  cursor: default!important;
}

.table-borderless tbody tr.expanded {
  .alert {
    display: none;
  }
}

table {
  border-collapse:separate;
  border:solid $border-color 1px;
  border-radius:6px;
  -moz-border-radius:6px;


  thead{
    tr{
      border-color: $border-color;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-left: 0;
      border-right: 0;
      td{
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }
  tbody {
    tr {
      td {
        .badge{
          width: 80px;
          padding-top: 7px;
          height: 26px;
        }
        .panel{
          height: 220px;
        }
        .build-icon{
          font-size: 62px;
          color: $brand-info;
        }
        div.separator {
          border-bottom: $border-color solid 1px;
          width: 100%;
        }
        .alert {
          width: 48px;
          height: 48px;
          margin: 0;
        }
        .alert-default {
          background-color: $gray-lighter;
          border-color: $border-color;
        }
        .progress {
          width: 48px;
          height: 48px;
          margin: 0;
          div {
            padding-top: 15px;
          }
        }

        .details {
          select{
            margin-bottom: 10px;
          }
          label{
            font-weight: 400;
            font-size: 0.8em;
          }
          .list-group{
            max-height: 144px;
            overflow-y: auto;
          }
          .list-group-item{
            font-size: 0.7em;
            font-weight: 400;
          }
          font-size: 1.1em;
          font-weight: 600;
          .metrics-label {
            .fa {
              font-size: 1.8em;
            }

            .fa-arrow-right{
              color: $brand-warning;
            }
            .fa-arrow-up{
              color: $brand-success;
            }
            .fa-arrow-down{
              color: $brand-danger;
            }
          }
          .metrics-data {
            font-size: 1.4em;
            font-weight: 600;
          }

          .chart {

            .chart-covered {
              width: 90%;
              margin-left: 5%;
              margin-right: 5%;
              margin-top: 10px;
              height: 60px;
            }

          }
        }
      }
    }
  }
}

.fail {
  .badge{
    background-color: $brand-danger;
  }
  .result {
    color: $brand-danger;
  }
}

.ok{
  .badge{
    background-color: $brand-success;
  }
  .result {
    color: $brand-success;
  }
}

.uncompleted{
  .badge{
    background-color: $brand-info;
  }
}

  @for $i from 1 through 100 {
    .progress-bar-#{$i} {
      width: unquote($i+'%');
    }
  }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

/*
Animations

==============================================
slideDown
==============================================
*/


.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*
==============================================
slideUp
==============================================
*/




.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*
==============================================
pullUp
==============================================
*/

.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

/*
==============================================
pullDown
==============================================
*/

.pullDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

