$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.build-list{

  .build-item-container{
    .icon{
      display: inline-block;
      width: 60px;
      height: 60px;
    }
    .build-item{

    }

  }

}

table{
 tbody{
   tr{
     td{
       .glyphicon{
         font-size: 32px;
       }
       .glyphicon-check{
         color: green;
       }
       .glyphicon-unchecked{
         color: red;
       }
     }
   }
 }
}

.uncompleted{
  td span.glyphicon-check {
    color: gray !important;
  }
  td span.glyphicon-unchecked {
    color: gray !important;
  }
}
