
<table class="table table-hover">
  <thead>
    <tr>
      <td>
        Changelist / Build
      </td>
      <td>
        Owner
      </td>
      <td>
        Time Started
      </td>
      <td>
        State
      </td>
      <td>
        Metrics
      </td>
      <td>
        Build
      </td>
      <td>
        Unit Test
      </td>
      <td>
        Functional Test
      </td>
    </tr>
  </thead>
  <tbody>
    <tr build-item="" item="item" ng-repeat="item in buildList" ></tr>
  </tbody>
</table>

